%form{ :action => "." , :method => :post }
  %textarea{ :name => :edit, :cols => 100, :rows => 45 }= edit
  %input{ :type => :hidden, :name => :name, :value => name }
  %input{ :type => :submit, :value => 'Save' }
